
  <div class="card">
    
    <div class="card-image waves-effect waves-block waves-light">
      <image-loader [src]="src" class='activator'></image-loader>
    </div>

    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4" style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{ movie.title }}</span>
      <p><a routerLink="movie/{{movie.id}}" (click)="onClick(movie.id)">Подробнее</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ movie.title }}<i class="material-icons right">close</i></span>
      <p>{{ movie.overview }}</p>
    </div>
  </div>